
@{
    ViewBag.Title = "Paramètres";
}

<br />
<br />
<br />

<div>
    <h4>Modifier vos paramètres de compte</h4>

    <div>
        <a>@Html.ActionLink("Pink Theme", "SetBackground", new { color = "#dc9797" }, new { @class="btn btn-secondary rounded", style = "color:lightpink;" })</a>
        <a> @Html.ActionLink("Blue Theme", "SetBackground", new { color = "#82bbf2" }, new { @class="btn btn-secondary rounded", style = "color:darkblue;" })</a>
        <a> @Html.ActionLink("White Theme", "SetBackground", new { color = "#fff" }, new { @class="btn btn-secondary rounded", style = "color:antiquewhite;" })</a>
    </div>
</div>

